p{text-aling: center font-size: 20 px;}
background: #CCCCC.}
h1{font-size:50 px; text-align: center;background-color: aquamarine;}
body{background-color: beige;}
#imagem1{
    width: 100%;
}
h1{border:10px; padding: 20px; tex-aling: center}
.itens{ font-style: italic;}